{% extends "base.html" %}
{% block content %}

		{% from "_formhelpers.html" import render_field %}
		<form class="pure-form pure-form-stacked" id="imageForm" method=post>
			<fieldset>
				{{ render_field(form.image_url1) }}
				{{ render_field(form.image_url2) }}
				{{ render_field(form.text) }}
				{{ render_field(form.background) }}
				<button type=submit class="pure-button pure-button-primary">Generate banner</button>
			</fieldset>
		</form>

	<table class="pure-table" id="imageCache">
		<thead>
			<th>Cached Banners</th>
		</thead>
		<tbody>
			{% for banner in banners %}
			<tr>
				<td><a href="{{ url_for('image_inputs', bannerid=banner.id) }}">{{ banner.text }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{% endblock %}
